.row.small-up-1.medium-up-3.large-up-4
  each val, index in [1083, 1021, 1069, 1074, 1062]
    .column.flex-container
      .card
        .row.align-middle
          .column.small-5.medium-12
            img(src='https://picsum.photos/500/500?image=' + val).bg-image_full
          .column
            .card-section
              h5: a(href='') #{val}
              p Cupiditate fugit vero repellat veritatis impedit eum sint, consequuntur dolorem.
            .card-divider
              ul.menu.vertical
                li: a.card-link(href='') ipsum dolor sit
                li: a.card-link(href='') fugit vero